
  
<div class="content" role="main">

    <div class="card-container">
    
        <button class="card card-small" tabindex="-1" (click)="openFile('../assets/documents/Umwelt/Hybrid SSAB 1.pdf')">
            <span tabindex="0">HYBRIT</span>
        </button>

        <button class="card card-small" tabindex="-1" (click)="openFile('../assets/documents/Umwelt/Ökobilanz SSAB .pdf')">
            <span tabindex="0">{{ 'environment.eco_balance' | translate }}</span>
        </button>           

    </div>