
<div class="content" role="main">

    <input type="hidden" #selection>
    
    <div class="card-container">
    
        <button class="card card-small" tabindex="-1" >
        <span tabindex="0">{{ 'brochures.cassette_system' | translate }}</span>
        </button>
    
        <button class="card card-small" tabindex="-1">
        <span tabindex="0">{{ 'brochures.quick_system' | translate }}</span>
        </button>
    
        <button class="card card-small" tabindex="-1" >
        <span tabindex="0">{{ 'brochures.wall_connection' | translate }}</span>
        </button>
    
        <button class="card card-small" tabindex="-1" >
        <span tabindex="0">{{ 'brochures.terrace_drainage' | translate }}</span>
        </button>
    
        <button class="card card-small" tabindex="-1" >
        <span tabindex="0">{{ 'brochures.atika_cover' | translate }}</span>
        </button>
    
        <button class="card card-small" tabindex="-1">
        <span tabindex="0">{{ 'brochures.folding_plate' | translate }}</span>
        </button>
    
        <button class="card card-small" tabindex="-1" >
        <span tabindex="0">{{ 'brochures.first_construction' | translate }}</span>
        </button>
    
        <button class="card card-small" tabindex="-1" >
        <span tabindex="0">{{ 'brochures.standing_seam' | translate }}</span>
        </button>
    
        <button class="card card-small" tabindex="-1" >
        <span tabindex="0">{{ 'brochures.guttering' | translate }}</span>
        </button>
    </div>
    