
  

<div class="content" role="main">
  <div class="img_container">
    <input type="hidden" #selection>

    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-46-44 2.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-46-44 3.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-46-44 5.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-46-44 6.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-46-44 7.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-46-44 8.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-46-44.jpg">

    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-05 3.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-05 4.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-05 5.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-05 6.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-05 7.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-05 8.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-05.jpg">

    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-58 2.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-58 3.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-58.jpg">

    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-59 2.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-53-59.jpg">

    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-54-43 2.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-54-43 3.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-54-43 4.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-54-43 5.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-54-43 5.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-54-43 6.jpg">

    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-55-29.jpg">

    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-55-30 2.jpg">

    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-55-30 4.jpg">
    <img src="./assets/img/Atika/PHOTO-2022-08-18-20-55-30.jpg">

  </div>

   
    
</div>
    
    
      
      