
  

<div class="content" role="main">
    <div class="img_container">
      <input type="hidden" #selection>
  
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-54 2.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-54 3.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-54 4.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-54 5.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-54 6.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-54 7.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-54 8.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-54 9.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-54 10.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-54.jpg">


      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-55 2.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-10-55.jpg">

      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-12-17 2.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-12-17 3.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-12-17 4.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-12-17 5.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-12-17 6.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-12-17.jpg">

      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-12-18 2.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-12-18 3.jpg">
      
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-12-18 4.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-12-18.jpg">

      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-13-05.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-13-06 2.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-13-06 3.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-13-06 4.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-13-06.jpg">

      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 2.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 3.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 4.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 5.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 6.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 7.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 8.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 9.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 10.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 11.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 12.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 13.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 14.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 15.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 16.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26 17.jpg">
      <img src="./assets/img/Kassette/PHOTO-2022-08-14-09-15-26.jpg">

  
    </div>
  
     
      
  </div>
      
      
        
        