
  
<div class="content" role="main">

    <input type="hidden" #selection>
    
    <div class="card-container">
    
        <button class="card card-small" tabindex="-1" (click)="openFile('../assets/documents/LV/LV.D81')">
            <span tabindex="0">{{ 'brochures.wall_connection' | translate }}</span>
        </button>

        <button class="card card-small" tabindex="-1" (click)="openFile('../assets/documents/LV/LV Anpressschienen.docx')">
            <span tabindex="0">{{ 'performance.pressure_rail' | translate }}</span>
        </button>

    </div>
    