<div class="content">
    <div *ngIf="adminBerechtigung === 'true'" class="card">
        <div class="text-center">
            <h1>
                {{ 'login.delete_user' | translate }}
            </h1>
    
        </div>
        <form>
            <form [formGroup]="deleteForm" id="Formcontainer" (ngSubmit)="getUser(deleteForm.value)">
                <div class="container">
    
                <label for="Benutzername" class="form-label">{{ 'login.username' | translate }}</label>
                <input type="text" name="username" placeholder="{{ 'login.username' | translate }}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username" required>
                
                <button type="submit" class="btn btn-primary">{{ 'login.delete' | translate }}</button>
                
                <h3>{{errorMes}}</h3>
                </div>
            </form>
        </form>
    
    
    </div>

    <div *ngIf="adminBerechtigung === 'false'" class="card">
        <div class="text-center">
            <h1>
                {{ 'login.no_permission' | translate }}
            </h1>
        
        </div>
    </div>

</div>


    
