:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :focus {
    outline: 3px solid red;   
  }   
  
  
  .content {
    position: absolute;
    margin-top: 100px;
    background: url('/assets/img/videoanleitungen_bg.png');
    background-size: cover;
    width: 100%;
    min-height: 100%;
    height:auto;
  }
  
  
  
  .image img{
    margin-left: 0%;
    margin-right: 0%;
    width:100%;
    height: auto;
    object-fit: fill;
  }
  
  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }
  
  .card-container {
    margin-left: 80px;
    margin-top: 100px;
    max-width: 960px;
    font-size: 12pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    color: #fff;
  }
  
  .card {
    color: #f0efef;
    all: unset;
    border-radius: 4px;
    border: 1px solid #8b9c33;
    background-color: #95a84f;
    height: 80px;
    width: 200px;
    margin: 0 70px 70px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    font-weight: bold;
  }
  
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }
  
  .card.card-small {
    height: 32px;
    width: 168px;
    background-color: rgba(149, 168, 79, 0.9);
  }
  
  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }
  
  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  
  a,
  a:visited,
  a:hover {
    color: #0c0c0c;
  }
  