<div class="content" role="main">

    <input type="hidden" #selection>
    
    <div class="card-container">

        <button class="card card-small" tabindex="-1"  (click)="openPdf('../assets/documents/Anleitungen/Kassettensystem', false)">
            <span tabindex="0">{{ 'brochures.cassette_system' | translate }}</span>
            </button>
        
            <button class="card card-small" tabindex="-1"  (click)="openPdf('../assets/documents/Anleitungen/Schnellsystem', false)">
            <span tabindex="0">{{ 'brochures.quick_system' | translate }}</span>
            </button>
        
            <button class="card card-small" tabindex="-1"  (click)="openPdf('../assets/documents/Anleitungen/Wandanschluss', false)">
            <span tabindex="0">{{ 'brochures.wall_connection' | translate }}</span>
            </button>
        
            <button class="card card-small" tabindex="-1" >
            <span tabindex="0">{{ 'brochures.terrace_drainage' | translate }}</span>
            </button>
        
            <button class="card card-small" tabindex="-1" >
            <span tabindex="0">{{ 'brochures.atika_cover' | translate }}</span>
            </button>
        
            <button class="card card-small" tabindex="-1">
            <span tabindex="0">{{ 'brochures.folding_plate' | translate }}</span>
            </button>
        
            <button class="card card-small" tabindex="-1" >
            <span tabindex="0">{{ 'brochures.first_construction' | translate }}</span>
            </button>
        
            <button class="card card-small" tabindex="-1" >
            <span tabindex="0">{{ 'brochures.standing_seam' | translate }}</span>
            </button>
            
            <button class="card card-small" tabindex="-1" >
            <span tabindex="0">{{ 'brochures.guttering' | translate }}</span>
            </button>
        
            <button class="card card-small" tabindex="-1" >
            <span tabindex="0">{{ 'brochures.accessories' | translate }}</span>
            </button>
        
            <button class="card card-small" tabindex="-1"  >
            <span tabindex="0">{{ 'brochures.color_tables' | translate }}</span>
            </button>

        
            <button class="card card-small" tabindex="-1">
            <span tabindex="0">{{ 'instructions.cutting_profiles' | translate }}</span>
            </button>

            <button class="card card-small"  tabindex="-1">
            <span tabindex="0">{{ 'instructions.materials_storage' | translate }}</span>
            </button>

            <button class="card card-small" tabindex="-1">
            <span tabindex="0">{{ 'instructions.system_division' | translate }}</span>
            </button>

            <button class="card card-small" tabindex="-1" >
                <span tabindex="0">{{ 'instructions.profile_form' | translate }}</span>
            </button>

            <button class="card card-small" tabindex="-1">
                <span tabindex="0">{{ 'instructions.atika_form' | translate }}</span>
            </button>

            <button class="card card-small" tabindex="-1" >
                <span tabindex="0">{{ 'instructions.sh1_form' | translate }}</span>
            </button>
    </div>
    
    
    </div>
    
    
      